body {
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 20px;
}

h1 {
  color: #003399;
}

.joke-img {
  max-width: 300px;
  display: block;
  margin-bottom: 20px;
}

a {
  color: #0066cc;
  font-weight: bold;
}
